<div class="ativo-card-container">
    <div class="card-header">
        <h3>{{ ativo.nome }}</h3>
        
        <button *ngIf="false" class="favorite-btn">
            ❤️
        </button>
    </div>

    <p class="descricao-rapida">{{ ativo.descricao_rapida }}</p>

    <div class="card-tags">
        <span class="tag tag-pele">{{ ativo.tipo_pele.split(',')[0].trim() }}</span>
        <span class="tag tag-necessidade">{{ ativo.necessidades.split(',')[0].trim() }}</span>
    </div>

    <div class="card-actions">
        <a [routerLink]="['/ativos', ativo.id]" class="btn-detalhes">
            Ver Mais
        </a>
        
        <button *ngIf="false" class="btn-rotina" disabled>
            + Rotina
        </button>
    </div>
</div>